* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

}

body {
  height: 100vh;
  background-image: url(/img/landingPage.jpg);
  background-size: cover;
  background-position: top;
  object-fit: contain;
}
/** The Fonts **/
@font-face {
  font-family: 'brushido';
  src: url(/fonts/Brushido.ttf);
}
@font-face{
  font-family: 'roman';
  src: url(/fonts/HerculanumLTStd.otf);
}
/** Keyframes Animetions **/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); }
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
  margin: 2.5rem;
  align-items: center;
  text-align: center;
  color: #fff; 
}
.circle-audio-player {
  cursor: pointer;
  float: right;
}

#chin-title {
  font-size: 3.5rem;
  animation: moveInLeft 1s ease-out;
}

#title-main {
  font: 800 8rem 'brushido';
  animation: moveInLeft 1s ease-out;
}
#title-sub {
  font: normal 'roman';
  display: block;
  margin-top: -1.5rem;
  font-size: 2.5rem;
  animation: moveInLeft 1s ease-out;
}
.sub-title {
  margin-top: 7rem;
  margin-bottom: -5rem;
  font: normal 40px/80px 'roman';
  text-align: center;
  animation: moveInRight 1s ease-out;
}

#content-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: moveInRight 1s, ease-out;
}

.img-link {
  text-decoration: none;
  color: #fff;
}
.imgs {
  border-radius: 50%;
  box-shadow: 0px .5rem 1rem rgba(0,0,0,.75);
	border: 1px white solid;
  animation: float 6s ease-in-out infinite;
  width: 200px;
  height: 200px;
  margin-top: 1.5rem;
  object-fit: cover;
  cursor: pointer;
}

.sub-title {
  margin-top: 3rem;
  font: normal 40px/80px 'roman';
  text-align: center;
  animation: moveInRight 1s ease-out;
}